#aboutMe{
    background-color: wheat;

}
#projects{
    background-color: bisque;

    
}
footer{

    background-color: black;
}

#mainframe{
    width: 5760px;
    height: 950px;
}

.desktops{
    height: 100%;
    width: 1920px;
    float:left;
}

body{
    overflow-y: hidden;
    overflow-x: scroll;
}
#navigation{
    display: flex;
    position: fixed;
    width: 1920px;
    height: 50px;
}

#navigation>.nav{
    width:1920px;
    margin-left:0rem;
    background-color: gray;
}

#navigation .naviation-item{
    width:110px;
    margin-left: 20px;
    border: 2px solid black;
}

.icon{
    width: 50px;
    height: 50px;
    margin-top: 50px ;

}

#text_main{
    margin-top: 130px;
}
#i_main{
   margin-top: 190px;
}
#img_main{
    margin-left: 100px;
}
#project_1{

    margin-left: 3rem;
    position: relative;
}
.project_x{
    border: 3px solid black;
    width: 1650px;
    height: 200px;
    margin-top: 20px;
}
.project_y{
    border: 3px solid black;
    width: 1650px;
    height: 200px;
    margin-top: 20px;
    margin-left: 200px;
}
.img_x{
    width: 190px;
    height: 190px;
    
}
.img_y{
    width: 190px;
    height: 190px;
    
}
#y_ver{
    margin-left: 1270px;
}
.inp{
    margin-left: 150px;
    margin-top: 20px;
}
#form_2{
    margin-left: 150px;
    margin-top: 20px;
}
#form_3{
    margin-left: 150px;
    margin-top: 20px;
}
.form-control{
    width: 670px;
}
#y_p{
    margin-left: 750px;
}